<h1>LonguestWord#score</h1>
<%= @end_time %>
<p>Your word: <%=  @informations[:attempt] %></p>
<p>Message: <%=  @informations[:message] %></p>
<p>Translation: <%=  @informations[:translation] %></p>
<p>Your score: <%=  @informations[:score] %></p>
<p>Time Taken to answer: <%= @informations[:time] %></p>
